<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090898793151-t422mgufogcjrfr260g42b0u8l4oja2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090898793151-t422mgufogcjrfr260g42b0u8l4oja2p</string>
	<key>API_KEY</key>
	<string>AIzaSyChOHXBpRCfgVdfk8OqORk1Mu_WMw_HEjw</string>
	<key>GCM_SENDER_ID</key>
	<string>1090898793151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsApp</string>
	<key>PROJECT_ID</key>
	<string>fit-together-74181</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-together-74181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090898793151:ios:89894229a5fd7f1ea76c0a</string>
	<key>DATABASE_URL</key>
	<string>https://fit-together-74181-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>